# Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
/backend/venv/
/backend/.env
/backend/staticfiles/
/backend/media/
/backend/static/
/media/

# Vue.js
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# IDE and misc
.idea/
*.log
*.DS_Store