# Django and REST framework
Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

# Database
psycopg2-binary==2.9.10

# Static files handling for production
whitenoise==6.10.0

# Environment management
python-decouple==3.8
python-dotenv==1.1.1

# CORS for frontend interaction
django-cors-headers==4.8.0

# Optional admin/editor enhancement
django-ckeditor==6.7.3
django-nested-admin==4.1.4
django-widget-tweaks==1.5.0

# Utilities
pytz==2025.2
sqlparse==0.5.3
requests==2.32.5
