{% extends "admin/change_list.html" %} {% load i18n static %} {# Reusable
changelist template for all apps. Adds Import/Export/Download buttons for apps
that define custom URLs in admin. #} {% block object-tools-items %}
{% if perms.students.add_student %}
<li>
  <a href="{% url 'admin:import_students' %}" class="addlink"
    >{% translate "Import" %}</a
  >
</li>

<li>
  <a href="{% url 'admin:download_template_students' %}" class="addlink"
    >{% translate "Download Template" %}</a
  >
</li>
{%endif%}
<li>
  <a href="{% url 'admin:export_students' %}" class="addlink"
    >{% translate "Export" %}</a
  >
</li>

{{block.super }} {% endblock %}
