{% extends "admin/base_site.html" %} {% load i18n static %} {% block content %}
<h1>{% translate "ទម្រង់នាំចូលគ្រូបង្រៀន" %}</h1>

<div class="module">
  <!-- Download Template -->
  <form
    method="get"
    action="{% url 'admin:download_template_teachers' %}"
    style="margin-bottom: 20px"
  >
    <button type="submit" class="default">
      {% translate "ទាញយកគម្រូ" %}
    </button>
  </form>

  <!-- Import Excel -->
  <form method="post" enctype="multipart/form-data" style="margin-bottom: 20px">
    {% csrf_token %}
    <label for="excel_file">{% translate "Select Excel file" %}:</label>
    <input type="file" name="excel_file" required />
    <button type="submit" class="default">
      {% translate "នាំចូលគ្រូ" %}
    </button>
  </form>

  <!-- Export All teachers -->
  <form method="get" action="{% url 'admin:export_teachers' %}">
    <button type="submit" class="default">
      {% translate "នាំចេញគ្រូ" %}
    </button>
  </form>
</div>
<a href="{% url 'admin:teachers_teacher_changelist' %}" class="button">{% translate "ត្រឡប់ទៅបញ្ជីគ្រូ" %}</a>
{% if messages %}
<ul class="messagelist">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
