{% extends "admin/change_list.html" %} {% load i18n static %} {# Reusable
changelist template for all apps. Adds Import/Export/Download buttons for apps
that define custom URLs in admin. #} {% block object-tools-items %}
<a href="{% url 'admin:import_teachers' %}" class="addlink"
  >{% translate "នាំចូលគ្រូ" %}</a
>
<li>
  <a href="{% url 'admin:export_teachers' %}" class="addlink"
    >{% translate "នាំចេញ" %}</a
  >
</li>

<li>
  <a href="{% url 'admin:download_template_teachers' %}" class="addlink"
    >{% translate "ទាញយកគម្រូ" %}</a
  >
</li>
{{block.super }} {% endblock %}
