/* Tailwind base styles (resets, typography) */
@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: Kantumry;
    src: url(../fonts/Kantumruy-Regular.ttf);
}
body{
    font-family: Kantumry;
}